.about-me-info{
	background: linear-gradient(to right top,#FF8F5A,#FF2F96);
	color: white;
	padding-top: 90px;
	padding-bottom: 90px;
}

.about-me-title{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 40px;
}

.about-me-text{
    text-align: center;
}

.all-info-about{
    display: flex;
    align-items: center;
}