.skills{
	margin-top: 100px;
	margin-bottom: 100px;
}
.skills-information-tablet{
	display: none;
}

.skills-title, .my-portfolio-title{
	font-size: 36px;
	font-weight: 600;
	text-align: center;	
	margin-bottom: 100px;
}

.skills-information{
	color: #8993ad;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.inf1-skill, .inf2-skill, .inf3-skill, .inf4-skill{
	text-align: center;
}

.img1-skill img, .img2-skill img, .img3-skill img, .img4-skill img{
	height: 70px;
	padding-bottom: 30px;
}

.img1-skill, .inf1-skill,.img2-skill,.img3-skill,.img4-skill,.inf2-skill,.inf3-skill,.inf4-skill{
	display: flex;
	justify-content: center;
}

.first-skill, .second-skill, .third-skill {
	margin-right: 90px;
	text-align: center;
}

.fourth-skill{
	text-align: center;
}

.btn-about button{
	background-color: #FF4E2E;
	color: white;
	padding: 21px 70px;
	border: none;
	font-size: 14px;
}

.btn-about{
	text-align: center;
}