body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
	margin: 0;
}

a{
  text-decoration: none;
}

.fixed-container{
	max-width: 1000px;
	min-width: 320px;
	padding:0 20px;
	margin: 0 auto;
	position: relative;
}

a:active{
  color: white;
}


